<!--suppress HtmlUnknownTarget -->
<footer>
    <!--suppress CheckImageSize -->
    <img alt="Under Construction sign" width="38" src="../../assets/construction.png">

    Written in HTML5 with a <a href="https://github.com/nicwaller/website/blob/master/transcluder.js">custom HTML pre-processor</a>.
    Versioned in <a href="https://github.com/nicwaller/website">GitHub</a>
    and published with <a href="https://www.netlify.com/">Netlify</a>.
    <span title="This is all public domain.">No Copyright.</span>
    <a href="/contact.html">Contact Nic Waller</a>.
    <!--
    <address property="address" typeof="PostalAddress">
        <p property="addressCountry">Canada</p>
    </address>
    -->
</footer>
