<header>
    <nav>
        Navigation:
        <a href="/index.html">Home page</a>
        <a href="/now.html">What am I doing now?</a>
        --
        <a href="/cool_tricks.html">Cool tricks</a>
        <a href="/indieweb/index.html">Indie Web</a>
        <!--    <a href="/stackoverflow.html">StackOverflow</a>-->
        <a href="/vegan.html">Vegan</a>
        <a href="/sanka.html">Sanka</a>
        <a href="/reference.html">Reference</a>
        <a href="/tech.html">Tech</a>
    </nav>
</header>

<hr>
