html {
    font-family: sans-serif;
    min-width: 20em;
    max-width: 40em;
    width: 80%;

    padding-bottom: 4em;
}

a {
    line-height: 10mm;
}

section {
    margin-top: 1em;
    margin-bottom: 3em;
}

img.centre {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

footer {
    background-color: white;
    opacity: 90%;
    padding: 1em;
}
